.parentContainer {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-color: #faf5e5;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* column-gap: 4rem; */
  /* row-gap: 8rem; */
  padding: 3rem 8rem;
  gap: 1.6rem;
}

/* Queries */

@media (max-width: 59em) {
  .cardsContainer {
    padding: 3rem 2rem;
  }
}

@media (max-width: 34em) {
  .cardsContainer {
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem 2rem;
    gap: 1rem;
  }
}