/* height: 184px !important;
    width: 100vw !important; */
.mainWrapper{
  display: flex;
}
.mainContainer {
  height: 18.4rem;
  padding: 1rem 8rem;
  /* max-width: 1440px; */
  width: 100%;
  background-color: #faf5e5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navInformationLeft a,
.navInformationRight a {
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  line-height: 1.2em;
  letter-spacing: 0.03;
  color: #444;
  transition: all 0.4s;
}

.navInformationLeft a:hover,
.navInformationRight a:hover {
  color: #222;
  cursor: pointer;
}

.navLogo {
  width: 40%;
  justify-content: center;
  display: flex;
}

.navLogo img {
  border-radius: 100%;
  width: 10em;
  height: 10em;
}

.navLogoMobile{
  display: none;
}

.navInformationLeft {
  width: 30%;
  display: flex;
  justify-content: right;
}

.navInformationLeft a:nth-child(2) {
  margin: 0 auto;
}

.navInformationRight {
  display: flex;
  width: 30%;
  align-items: center;
}

.navInformationRight a:first-child {
  margin: 0 auto;
}

.navDropdown {
  position: absolute;
  margin-left: auto;
  margin-top: 0.6rem /* 8px */;
  padding-top: 0.6rem /* 8px */;
  padding-bottom: 0.5rem /* 8px */;
  padding-right: 0.5rem;
  padding-left: 4rem;
  display: block;
  border-bottom: 3px solid black;
  transition:  all 0.2s ease-in-out;
}

.navDropdown:hover{
  border-bottom: 3px solid red;
}

.usernameBtn {
  padding: 1rem 1rem;
  background-color: #222;
  color: #fff;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  transition: all 0.3s ease-in;
}

.usernameBtn:hover{
  background-color: #fff;
  outline: 1px solid #222;
  color: #222;
  cursor: pointer;
  transform: scale(1.1);
}

/* Mobile */

.btnMovileNav{
border: none;
background: none;
cursor: pointer;
display: none;
}

.btnMovileNav svg:nth-child(2){
  display: none;
}

/* Queries */

/* Bellow 944px  tablets */
@media (max-width:59em){
  .mainContainer {
    padding: 1rem 2rem;
  }
}

@media (max-width: 34em) {

  .navInformationLeft, .navInformationRight {
    width: 100%;
  }

  .navInformationLeft a, .navInformationRight a {
  font-size: 3rem;
  }
  
  .navLogo img {
    width: 8em;
    height: 8em;
  }
  
 
  
  .btnMovileNav{
    display: block;
    z-index: 10000;
    }
  
    .mainContainer{
      background-color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: 9999;
      transform: translate(100%);
      flex-direction: column;
      justify-content: flex-start;
      gap: 4rem;
      justify-content: center;
      transition: all 0.4s ease-in;
      opacity: 0;
      pointer-events: none;
      visibility: hidden;
      
    }
  
    .navOpen .mainContainer{
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
      transform: translate(0);
    }

    .navOpen .btnMovileNav svg:nth-child(2){
      display: block;
    }

    .navOpen .btnMovileNav svg:nth-child(1){
      display: none;
    }
    .mainWrapper{
      justify-content: space-around;
      align-items: center;
      padding: 3rem 0;
    }
  
    .navInformationLeft, .navInformationRight {
     flex-direction: column;
     align-items: center;
     gap: 4rem;
    }
  
    .navLogoDestok {
      display: none;
    }

    .navLogoMobile{
      display: block;
    }

    .usernameBtn{
      font-size: 3rem;
    }
    .usernameBtn:focus {
  
      background-color: black; 
      color: #fff;
     
    }
}